* {
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #4caf50;
}

/* esley chai desktop mode ma lukaucha line lai */
.lines {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.lines span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}

/* esle garda style chai screen size heri matra apply huncha */
/* .line le chai display flex garera lines dekhaucha */
@media (max-width: 768px) {
  .lines {
    display: flex;
  }

  /* nav ko links haru dropdown ma dekhaucha */
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ff6666;
    flex-direction: column;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  /* links thiche ki dropdown aucha */
  .nav-links.active {
    max-height: 300px;
  }

  /* individual lists ko style */
  .nav-links li {
    padding: 1rem 2rem;
    border-top: 1px solid #444;
  }

  /* main animation nthchild1 first line rotate clockwise positive cha, translate le (x,y) x-hor y-ver ani +is down - is up */
  .lines.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }

  .lines.active span:nth-child(2) {
    opacity: 0;
  }

  .lines.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
